# Игнорирование папки с зависимостями
/node_modules

# Игнорирование сгенерированных файлов сборки
/build
/dist

# Игнорирование временных файлов
*.tmp
*.bak
*.swp

# Игнорирование файлов с настройками IDE или редакторов кода
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Игнорирование файлов конфигурации локальной среды разработки
.env
.env.local
.env.*.local

# Игнорирование файлов логов
*.log

# Игнорирование файлов авторизации и ключей
*.key
*.pem

# Игнорирование временных кэш-файлов
.cache/
*.cache